
.card-body{
    display: flex;
    flex-wrap: wrap;
    left: 10%;
    justify-content: center;
}

.lec-card{
    width: 300px;
    border-radius: 15px;
    margin: 10px;
    padding: 3%;
    background: rgb(34,123,195);
    background: linear-gradient(0deg, rgba(34,123,195,1) 0%, rgba(253,187,45,0.6073616946778712) 100%);
    -moz-box-shadow:    inset 0 0 6px #000000;
    -webkit-box-shadow: inset 0 0 6px #000000;
    box-shadow:         inset 0 0 6px #000000;
    border-width: 10px;
    border-color:rgb(255, 230, 121);
}

.card-dex{
    background: rgb(34,123,195);
    background: linear-gradient(0deg, rgb(184, 0, 0) 0%, rgba(255, 255, 255, 0.607) 100%);
    border-color:rgb(212, 85, 0);     
}

/*not working*/
.lec-list{
    padding: 2%;
    border-radius: 2px;
    background-color: rgb(201, 250, 250);
    -moz-box-shadow:     0 0 6px #000000;
    -webkit-box-shadow:  0 0 6px #000000;
    box-shadow:          0 0 6px #000000;
}