.side-panel{
    border-color: blue;
    position: absolute; 
    width: 20%;
    height: 50%;
    right: 0%;
    top: 20%;
    background-color: blanchedalmond;
}

.side-panel-list{
    margin-top: 30%;
    list-style-type: none;
}

.event-select-panel{
    visibility: hidden;
    position: fixed;
    z-index: 999;
    width: 20%;
    background-color: rgba(165, 165, 165, 0.493);
}

.event-select-panel-ul{
    list-style-type: none;
}