{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!---->
    <link rel="stylesheet" type="text/css" href='{% static "/eugo/css/bootstrap.css" %}' />

    <link rel="icon" href='{%static "/eugo/img/favicon.ico"%}'>

    <title>EUGO</title>

    <!-- Custom styles for this template -->
    <link href='{% static "/eugo/css/lecturers.css" %}' rel="stylesheet">
</head>

<body>

    <!--NavBar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/eugo/index">EUGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/eugo/map">Map <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/eugo/lecturers">My Lecturers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/eugo/lecturerdex">LecturerDex</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user.get_username }}
              </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/eugo/player">Profile</a>
                        <a class="dropdown-item" href="/eugo/logout">Logout</a>
                    </div>
                </li>
                {% if is_admin %}
                <li class="nav-item">
                    <a class="nav-link" href="/eugo/mapmod">MAPMOD!</a>
                </li>
                {% endif %}
                <div style="text-align: right">
                    <li>
                        Balls : {{ items.0 }} <br> Extensions : {{ items.1 }}
                    </li>
                </div>
                <!--
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        -->
        </div>
    </nav>

    <!--lec cotainer-->
    <div id="lec-container " class="card text-center ">
        <br>
        <div class="card-header">
            My Caught Lecturers
        </div>
        <div class="card-body">
            {% for h in hand %}
            <div class="card lec-card">
                <img class="card-img-top" src='{% static "/eugo/img/teacher_sprites/"%}{{h.lec_id.sprite}}' alt="no img">
                <div class="card-body">
                    <h5 class="card-title">{{h.lec_id.name}}</h5>
                    <p class="card-text"> </p>
                </div>
                <div class="lec-list">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>HP:</strong> {{h.lec_id.hp}} </li>
                        <li class="list-group-item"><strong>Attack:</strong> {{h.lec_id.attack}}</li>
                        <li class="list-group-item"><strong>Type:</strong> {{h.lec_id.type}}</li>
                    </ul>
                </div>
                <!--
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
          -->
            </div>
            {% endfor %}
        </div>
    </div>

</body>

<!--Scripts-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>