{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--Favicon-->
    <link rel="icon" href='{%static "/eugo/img/favicon.ico"%}'>

    <title>EUGO</title>

    <!--bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href='{% static "/eugo/css/bootstrap.css" %}' />

    <!-- Custom styles for this template -->
    <link href='{% static "/eugo/css/leader.css" %}' rel="stylesheet">
    <link href='{% static "/eugo/css/map.css" %}' rel="stylesheet">

    <!--Ajax JS-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body>

    {% if not user.is_authenticated %}
    <script>
        window.location.href = "/eugo/logout/";
    </script>
    {% endif %}

    <!--
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    -->

    <div class="text-center parent-container-map" id="parent-container-map-id">

        <!--map img-->
        <div class="map" id="mapConID">
            <img src='{% static "/eugo/img/exe_map_alpha.png" %}' class="map-img">
        </div>

        <!--spawn lecturers-->
        {% for i in mapEvent %}
        <div class="lec-map-pin" style="position: absolute; z-index: 4; font-size: 10px;
        font-weight: bold; list-style-type: none;" id='{{i.lec_id.id}}' value='{{i.pos}}'>
            <li>{{ i.lec_id.name }}</li>
            <li>{{ i.lec_id.duration }} Mins Remaining</li>
            <!--<li style="color: black;">{{ i.pos }}</li>-->
            <li><img src='{% static "/eugo/img/teacher_sprites/"%}{{i.lec_id.sprite}}' class="spirite-img"></li>
            <li><button type="button" class="btn btn-light btn-sm" onclick="showCam('{{i.lec_id.qrUrl}}','{{i.lec_id.id}}','{{i.id}}','{{i.wildOrBattle}}')">Confirm QR Code</button></li>
        </div>
        {% endfor %} {% for i in stops %}

        <div class="stop-map-pin" style="position: absolute; z-index: 4; font-size: 10px;
        font-weight: bold; list-style-type: none;" id='{{i.id}}' value='{{i.pos}}'>
            <li>LectStop</li>
            <li><img src='{% static "/eugo/img/"%}stopmark.png' class="spirite-img" style="width: 15%; height: 15%"></li>
            <li><button type="button" class="btn btn-light btn-sm" onclick="showCamStop('{{i.qrUrl}}','{{i.id}}')">Confirm QR Code</button></li>
        </div>

        {% endfor %}


        <!--QR handlers-->
        <button id="cam-button-cancel" class="btn btn-danger" onclick="hideCam()" style="position: absolute; text-align: center; top: 550px">Cancel</button>
        <div style="width: 500px; position: absolute; text-align: center;" id="reader">
        </div>
        <div id="qr-reader-results"></div>
    </div>

    <!--hidden lecturer forms-->
    <input type="hidden" id="current-lec" value="">
    <input type="hidden" id="current-lec-id" value="">
    <input type="hidden" id="current-event-id" value="">
    <input type="hidden" id="wild-battle" value="">
    <!--NavBar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/eugo/index">EUGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/eugo/map">Map <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/eugo/lecturers">My Lecturers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/eugo/lecturerdex">LecturerDex</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.get_username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/eugo/player">Profile</a>
                        <a class="dropdown-item" href="/eugo/logout">Logout</a>
                    </div>
                </li>
                {% if is_admin %}
                <li class="nav-item">
                    <a class="nav-link" href="/eugo/mapmod">MAPMOD!</a>
                </li>
                {% endif %}
                <div style="text-align: right">
                    <li>
                        Balls : {{ items.0 }} <br> Extensions : {{ items.1 }}
                    </li>
                </div>
        </div>
    </nav>

    <!--Leaderboard/ Social Panel-->
    <div class="leaderboard" id="leaderboard">
        <!--Mini navbar-->
        <nav class="navbar navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Social</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" id="global-leaderboard-a" href="#">Global Leaderboard <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="friends-list-a">
                        Friends List
                        {% for req in incomingReq %}
                        🔔
                        {% endfor %}
                    </a>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="mailbox-a">Mailbox</a>
                    </li>
                    -->
            </div>
        </nav>
        <br>
        <!--leaderboard LIST-->
        <div id="leaderboard-list">
            <ol>
                {% for player in players %}
                <li>
                    <mark>{{ player.username }}</mark>
                    <small>{{ player.pokemon_caught }}</small>
                </li>
                {% endfor %}
            </ol>
        </div>

        <!--Friends Div-->
        <div id="friends-div">
            <!--New friend Search bar-->
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 sticky-top" type="search" placeholder="Add a new friend!" aria-label="Search" id="friend-input-box">
                <button class="btn btn-outline-success my-2 my-sm-0 sticky-top" type="button" onclick="sendFriendReq('{{ user.get_username }}')">✉</button>
            </form>
            <br>
            <!--pending friends list-->
            <ul class="list-group">
                {% for req in incomingReq %}
                <li class="list-group-item list-group-item-success">Incoming Friend : {{ req }} <button class="btn btn-outline-success my-2 my-sm-0 sticky-top" type="button" onclick="acceptFriendReq('{{ req.sender }}', '{{user.get_username}}')">Accept</button></li>
                {% endfor %}
            </ul>
            <br>
            <!--friend list-->
            <ul class="list-group">
                {% for f in friends %}
                <li class="list-group-item list-group-item-dark">
                    <strong>{{ f }}</strong>
                    <br>
                    <button class="btn btn-outline-success my-2 my-sm-0 sticky-top" type="button" onclick="battleFriend()">Battle</button>
                    <button class="btn btn-outline-success my-2 my-sm-0 sticky-top" type="button" onclick="tradeFriend('{{ user.get_username }}','{{ f.username }}')">Trade</button>
                    <button class="btn btn-outline-success my-2 my-sm-0 sticky-top" type="button" onclick="whisperFriend()">Whisper</button>
                    <button class="btn btn-outline-danger my-2 my-sm-0 sticky-top" type="button" onclick="unfriend('{{ user.get_username }}', '{{ f.username }}')">Unfriend</button>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!--Mailbox Div
            <div id="mailbox-div">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">USERNAME</h5>
                        <small>3 days ago</small>
                      </div>
                      <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                      <small>Donec id elit non mi porta.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">USERNAME</h5>
                        <small class="text-muted">3 days ago</small>
                      </div>
                      <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                      <small class="text-muted">Donec id elit non mi porta.</small>
                    </a>
                </div>
            </div>
            -->

    </div>

    <!--Chat Panel-->
    <div class="leaderboard chatbox" id="chatboard">
        <div id="content" style="direction: ltr;">
            <!--Channel selector button-->
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle chatselect" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Global Chat
                    </button>
                <!--
                    <input type="hidden" value='global123' id='channel_selected'>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="">Near Me</a>
                    <a class="dropdown-item" href="">Guild Chat</a>
                    <a class="dropdown-item" href="">Global Chat History</a>
                    <a class="dropdown-item" href="">Contact Support</a>
                    </div>
                    -->
            </div>
            <br>

            <!--Messages-->
            <div id="messagesContainer">
                <i class="text-primary">connected to global channel!</i>
                <section class="chat" id="chatboxsock"></section>
            </div>

            <!--History tab
                    <section class="chat" id="chatbox" style=" overflow-y: scroll;"></section>
                        {% for m in messages %}
                        <p><strong>{{ m.user }}</strong> <i class="text-secondary">{{ m.date }}</i> {{ m.content }}</p>
                        {% endfor %}
                    </section>
                -->

            <!--input form-->
            <form id="chat-reset">
                <input type="text" placeholder="Send a message!" name="" id="usermsg" style="width: 250px;" />
                <button class="btn btn-light" name="submitmsg" type="button" id="submitmsg" value="Send" onclick="sendChat('{{ user.get_username }}')">Send</button>
            </form>
        </div>
    </div>

    <!--hide panels button-->
    <button type="button" onclick="hideLeaderboardPanel()" id="hideLeaderboardButton" class="btn btn-sm btn-primary hideLeaderboardButton" value=0>🏆</button>
    <br> <button type="button" onclick="hideChatPanel()" id="hideChatButton" class="btn btn-sm btn-primary hideChatButton" value=0>💬</button>

    </div>


    <!--social panel script-->
    <script type="text/javascript">
        var leaderboard_a = document.getElementById("global-leaderboard-a");
        var friends_list_a = document.getElementById("friends-list-a");
        //var mailbox_a = document.getElementById("mailbox-a");

        friends_list_a.onclick = function() {
            showFriendsList()
        };
        //mailbox_a.onclick = function() {showMailbox()};
        leaderboard_a.onclick = function() {
            showLeaderboard()
        };

        function hideDiv(d) {
            let div = document.getElementById(d);
            div.style.opacity = "0";
            div.style.height = "0";
            //div.style.zIndex = "0"
        }

        function showDiv(d) {
            let div = document.getElementById(d);
            div.style.opacity = "1";
            div.style.height = "100%";
            //div.style.zIndex = "11"
        }

        function showFriendsList() {
            hideDiv("leaderboard-list");
            //hideDiv("mailbox-div");
            showDiv("friends-div");
        }

        function showMailbox() {
            hideDiv("leaderboard-list");
            hideDiv("friends-div");
            //showDiv("mailbox-div");
        }

        function showLeaderboard() {
            hideDiv("friends-div");
            //hideDiv("mailbox-div");
            showDiv("leaderboard-list");
        }

        function sendFriendReq(sender) {
            new_friend_name = document.getElementById("friend-input-box").value;
            $.ajax({
                type: "POST",
                url: "/eugo/friendreq/",
                data: {
                    'type': 'send',
                    'sender': sender,
                    'reciever': new_friend_name,
                },
                success: function(data) {
                    alert("Friend Request Sent!")
                },
                error: function(data) {
                    console.log("error : ", JSON.stringify(data));
                    alert("Player not Found!")
                },
            });
        }

        function acceptFriendReq(sender, reciever) {
            //sender_name = document.getElementById("friend-input-box").value;
            console.log(sender, reciever)
            $.ajax({
                type: "POST",
                url: "/eugo/friendreq/",
                data: {
                    'type': 'accept',
                    'sender': sender,
                    'reciever': reciever,
                },
                success: function(data) {
                    alert("Friend Request Accepted!")
                    location.reload();
                },
                error: function(data) {
                    console.log("error : ", JSON.stringify(data));
                    //alert(")
                },
            });
        }

        function unfriend(sender, reciever) {
            console.log(sender, reciever);
            $.ajax({
                type: "POST",
                url: "/eugo/friendreq/",
                data: {
                    'type': 'unfriend',
                    'sender': sender,
                    'reciever': reciever,
                },
                success: function(data) {
                    alert("Unfriended Player Successfully");
                    location.reload();
                },
                error: function(data) {
                    console.log("error: ".JSON.stringify(data));
                },
            });
        }

        function tradeFriend(reciever, sender) {
            console.log(sender, reciever)

            const form = document.createElement('form');
            form.method = 'POST';
            form.action = "/eugo/trade/";

            const hiddenField = document.createElement('input');
            hiddenField.type = 'hidden';
            hiddenField.name = 'reciever';
            hiddenField.value = reciever;

            const hiddenField2 = document.createElement('input');
            hiddenField2.type = 'hidden';
            hiddenField2.name = 'sender';
            hiddenField2.value = sender;

            console.log(reciever, sender);

            form.appendChild(hiddenField);
            form.appendChild(hiddenField2);

            document.body.appendChild(form);
            form.submit();
        }
    </script>
    <!--chatbox script-->
    <script type="text/javascript">
        //channel selector---------------:
        hidden = document.getElementById('channel_selected');

        function channelSelect(input) {
            hidden.value = input;
        }

        //sockets---------:
        let v = window.location.host
        let url = 'ws://' + v + '/ws/socket-server/'
        const chatSocket = new WebSocket(url)

        //reciever
        chatSocket.onmessage = function(e) {
            let data = JSON.parse(e.data)
            console.log('Data:', data)

            if (data.type === 'chat') {
                let messages = document.getElementById('chatboxsock')
                console.log(data.message)

                messages.insertAdjacentHTML('beforeend',
                    '<p><strong>' + data.username + '</strong><i class="text-secondary">' + data.date +
                    '</i> ' + data.message)
            }
        }


        //sender
        function sendChat(username) {
            console.log("sending chat");
            let message = document.getElementById('usermsg').value

            const form = document.getElementById('chat-reset');

            if (message.length > 1) {
                //if (!isOpen(chatSocket)) return;
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'username': username,
                }))

                form.reset();
            }
        }

        //check if socket is open
        function isOpen(ws) {
            return ws.readyState === ws.OPEN
        }

        //toggle side panels
        function hideChatPanel() {
            var buttonVal = parseInt(document.getElementById('hideChatButton').value, 10);
            if (buttonVal % 2 != 0) {
                chatbox = document.getElementById('chatboard')
                chatbox.style.width = "285px";
                chatbox.style.height = "600px";
                chatbox.style.visibility = "visible";
                chatbox = document.getElementById('leaderboard')
                chatbox.style.width = "0";
                chatbox.style.height = "0";
                chatbox.style.visibility = "hidden";
            } else {
                chatbox = document.getElementById('chatboard')
                chatbox.style.width = "0";
                chatbox.style.height = "0";
                chatbox.style.visibility = "hidden";
            }
            buttonVal++;
            document.getElementById('hideChatButton').value = buttonVal;
        }

        function hideLeaderboardPanel() {
            var buttonVal = parseInt(document.getElementById('hideLeaderboardButton').value, 10);

            if (buttonVal % 2 != 0) {
                chatbox = document.getElementById('leaderboard');
                chatbox.style.width = "285px";
                chatbox.style.height = "600px";
                chatbox.style.visibility = "visible";
                chatbox = document.getElementById('chatboard')
                chatbox.style.width = "0";
                chatbox.style.height = "0";
                chatbox.style.visibility = "hidden";
            } else {
                chatbox = document.getElementById('leaderboard')
                chatbox.style.width = "0";
                chatbox.style.height = "0";
                chatbox.style.visibility = "hidden";
            }
            buttonVal++;
            document.getElementById('hideLeaderboardButton').value = buttonVal;
        }
    </script>
    <!--map scripts-->
    <script>
        window.onload = function() {
            mapContainer = document.getElementById("mapConID");
            var xOff = getOffset(mapContainer).left;
            var yOff = getOffset(mapContainer).top;
            pinL = document.getElementsByClassName("lec-map-pin")
            stops = document.getElementsByClassName("stop-map-pin")
                //scrollbar
            var myDiv = document.getElementById("messagesContainer");
            myDiv.scrollTop = myDiv.scrollHeight;

            for (let i = 0; i < pinL.length; i++) {
                pin = pinL[i];
                var x = parseInt(pin.getAttribute("value").split(",")[0])
                var y = parseInt(pin.getAttribute("value").split(",")[1])
                pin.style.left = x + xOff + "px";
                pin.style.top = y + yOff + "px";
                console.log(x, y);
                var gifsrc = '{% static "/eugo/img/circle.gif" %}'
                pin.style.backgroundImage = "url(" + gifsrc + ")";
                pin.style.backgroundSize = "contain";
                pin.style.backgroundRepeat = "no-repeat";
            }

            for (let i = 0; i < stops.length; i++) {
                pin = stops[i];
                var x = parseInt(pin.getAttribute("value").split(",")[0])
                var y = parseInt(pin.getAttribute("value").split(",")[1])
                pin.style.left = x + xOff + "px";
                pin.style.top = y + yOff + "px";
                console.log(x, y);
                var gifsrc = '{% static "/eugo/img/circle.gif" %}'
                pin.style.backgroundImage = "url(" + gifsrc + ")";
                pin.style.backgroundSize = "contain";
                pin.style.backgroundRepeat = "no-repeat";
            }
        }

        function getOffset(el) {
            const rect = el.getBoundingClientRect();
            return {
                left: rect.left + window.scrollX,
                top: rect.top + window.scrollY
            };
        }

        function showLecSpawn(choice) {
            document.getElementById("lecSpawnLi").style.color = "white";
            document.getElementById("lecBattleLi").style.color = "white";
            menu = document.getElementById("lecSpawn");
            menu.style.width = "100%";
            menu.style.height = "100%";
            menu.style.visibility = "visible";
            li = document.getElementById(choice);
            li.style.color = "red";
            document.getElementById("gameOpBox").value = choice;
        }

        function showCam(spriteImg, id, event_id, wild_battle) {

            console.log("test")

            camDiv = document.getElementById("reader");
            camDiv.style.width = "500px";
            camDiv.style.height = "375px";
            camDiv.style.visibility = "visible";
            canBut = document.getElementById('cam-button-cancel');
            canBut.style.width = "100px";
            canBut.style.height = "30px";
            canBut.style.visibility = "visible";

            document.getElementById('current-lec').value = spriteImg;
            //console.log("url : " + document.getElementById('current-lec').value);

            document.getElementById('current-lec-id').value = id;
            //console.log("id : " + document.getElementById('current-lec-id').value);

            document.getElementById('current-event-id').value = event_id;

            document.getElementById('wild-battle').value = wild_battle;
        }

        function showCamStop(spriteImg, id) {



            camDiv = document.getElementById("reader");
            camDiv.style.width = "500px";
            camDiv.style.height = "375px";
            camDiv.style.visibility = "visible";
            canBut = document.getElementById('cam-button-cancel');
            canBut.style.width = "100px";
            canBut.style.height = "30px";
            canBut.style.visibility = "visible";

            document.getElementById('current-lec').value = spriteImg;
            //console.log("url : " + document.getElementById('current-lec').value);

            document.getElementById('current-lec-id').value = id;
            //console.log("id : " + document.getElementById('current-lec-id').value);

            document.getElementById('current-event-id').value = id;
        }

        function hideCam() {
            camDiv = document.getElementById("reader");
            camDiv.style.width = "0";
            camDiv.style.height = "0";
            camDiv.style.visibility = "hidden";
            canBut = document.getElementById('cam-button-cancel');
            canBut.style.width = "0";
            canBut.style.height = "0";
            canBut.style.visibility = "hidden";
        }
    </script>
    <!--QR scripts-->
    <script type="text/javascript" src='{% static "/eugo/js/html5-qrcode.min.js" %}'></script>

    <!--Previous working script-->
    <script type="text/javascript">
        //this all needs re doing because was orginaly made hard coded to only work with catch....
        function onScanSuccess(decodedText, decodedResult) {
            curLec = document.getElementById('current-lec').value
            console.log(curLec + " ?= " + decodedText);
            event_id = document.getElementById('current-event-id').value

            if (document.getElementById('current-lec-id').value == event_id) {
                //is lectstop
                if (curLec == decodedText + ".png") {
                    var form = document.createElement("form");
                    form.setAttribute("method", "post");
                    form.setAttribute("action", "/eugo/map/");
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", "stopID");
                    hiddenField.setAttribute("value", event_id);
                    form.appendChild(hiddenField);
                    document.body.appendChild(form);
                    form.submit()
                }
            } else if (curLec == decodedText + ".png") {
                //create form of lecturer and submit to /eugo/catch
                let windowName = 'w_' + Date.now() + Math.floor(Math.random() * 100000).toString();
                var form = document.createElement("form");
                form.setAttribute("method", "post");



                if (document.getElementById('wild-battle').value == "lecSpawnLi") {
                    form.setAttribute("action", "/eugo/catch/");
                } else {
                    form.setAttribute("action", "/eugo/battle/");
                }

                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", "lecID");
                hiddenField.setAttribute("value", decodedText);
                form.appendChild(hiddenField);
                document.body.appendChild(form);

                var eventfield = document.createElement("input");
                eventfield.setAttribute("type", "hidden");
                eventfield.setAttribute("name", "eventID");
                eventfield.setAttribute("value", event_id);
                form.appendChild(eventfield);

                /*realy we should just use the post id and then quirey the db for the lecture server side 
                but oh well again this really needs to be done with ajax*/


                document.body.appendChild(form);

                form.submit();
            } else {
                alert("invalid QR!")
            }
        }

        function onScanFailure(error) {

            // handle scan failure, usually better to ignore and keep scanning.
            // for example:
            console.warn(`Code scan error = ${error}`);
        }

        let html5QrcodeScanner = new Html5QrcodeScanner(
            "reader", {
                fps: 10,
                qrbox: {
                    width: 250,
                    height: 250
                }
            },
            /* verbose= */
            false);
        html5QrcodeScanner.render(onScanSuccess, onScanFailure);
    </script>

</body>

</html>