{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EUGO</title>

    <!--bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href='{% static "/eugo/css/bootstrap.css" %}' />

    <link rel="icon" href='{%static "/eugo/img/favicon.ico"%}'>

    <!-- Custom styles for this template -->
    <link href='{% static "/eugo/css/catch.css" %}' rel="stylesheet">
    <link href='{% static "/eugo/css/lecturers.css" %}' rel="stylesheet">

    <!--webcam JS script-->
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/eugo/index">EUGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/eugo/map">Map <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/eugo/lecturers">My Lecturers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/eugo/lecturerdex">LecturerDex</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ user.get_username }}
            </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/eugo/player">Profile</a>
                        <a class="dropdown-item" href="/eugo/logout">Logout</a>
                    </div>
                </li>
                {% if is_admin %}
                <li class="nav-item">
                    <a class="nav-link" href="/eugo/mapmod">MAPMOD!</a>
                </li>
                {% endif %}
                <div style="text-align: right">
                  <li >
                       Balls : {{ items.0 }} <br>
                      Extensions : {{ items.1 }}
                  </li>
                  </div>
                <!--
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      -->
        </div>
    </nav> 

    <div class="card text-center" style="
    background-image: url(https://cdn.wallpapersafari.com/63/63/1bH4SE.jpg);
    "><br>
        <div class="card-header">
            Battle!
        </div>
        {% if lec %}
        <div class="card-body" style="
    height: 100%;
    width:60%;
    margin-left:25%;
    margin-top: 2%;
    display: flex;
    text-align: center;
    justify-content: space-between;">
            <div class="card lec-card" style="width: 18rem;">
                <strong>Name: </strong> {{lec.name}} <br>
                <img class="card-img-top" id="lect-pic" src='{% static "/eugo/img/teacher_sprites/"%}{{lec.sprite}}' width="200" height="200">
                <p><br>
                    <strong>HP:</strong> <span id="opphp">{{lec.hp}}<span>
                    <p>
                        <strong>Attack:</strong> {{lec.attack}}
            </div>
            <div class="card lec-card" style="width: 18rem;">
                <strong>Name: </strong> {{player_lec.name}} <br>
                <img class="card-img-top" id="lect-pic" src='{% static "/eugo/img/teacher_sprites/"%}{{player_lec.sprite}}' width="200" height="200" style = "transform: rotateY(180deg)">
                <p><br>
                    <strong>HP:</strong> {{player_lec.hp}}
                    <p>
                        <strong>Attack:</strong>{{player_lec.attack}}
            </div>
            <div class="card-body" id = "battle-text">
            </div>

            <br style="clear:both;" />  {% else %}
            <p> ERROR: your trying to battle a lecturer that doesnt exist</p>
            {% endif %}
        </div>


<script>
    moves = "{{moves}}".replace("[" , "").replace("]" , "")
    movesl = moves.split(",")
    opp = "{{lec.name}}"
    cur = "opp"
    result = "{{result}}"
    stringBuild = ""
    for(let i = 0; i < movesl.length; i++){
        if(cur == "opp"){
            cur = "you"
            stringBuild += ("You hit " + opp + " for " + movesl[i] + " <br> ")
            setTimeout(function(){
                document.getElementById("battle-text").innerHTML += ("You hit " + opp + " for " + movesl[i] + " <br> ")
                //animations here (u hit them)
            }, (2000*i));
        }else{
            cur = "opp"
            stringBuild += (opp + " hit you for " + movesl[i] + " <br> ")
            setTimeout(function(){
                document.getElementById("battle-text").innerHTML += (opp + " hit you for " + movesl[i] + " <br> ")
                //animations here (they hit u)
            }, (2000*i));
        }

        
    }
    setTimeout(function(){
        document.getElementById("battle-text").innerHTML = stringBuild + " <br> " + result
    }, (2000*movesl.length));

</script>


</body>


</html>