{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
   
   <!----> <link rel = "stylesheet" type = "text/css" href = '{% static "/eugo/css/bootstrap.css" %}'/>
    
    <link rel="icon" href='{%static "/eugo/img/favicon.ico"%}'>

    <title>EUGO</title>

    <!-- Custom styles for this template -->
    <link href='{% static "/eugo/css/lecturers.css" %}' rel="stylesheet">
  </head>

  <body>

    
    <div class="center">

          
      <div class = "info">
        {% for h in hand %}
        <div class = vert>
          Name: {{h.lec_id.name}} <br>
          <img src='{% static "/eugo/img/teacher_sprites/"%}{{h.lec_id.sprite}}' width="200" height="200">
          <p style="color: red;">HP: {{h.lec_id.hp}} <p>
          <p style="color: orange;">Attack: {{h.lec_attack}} <p> 
        </div>
        {% endfor %}
      </div>   
      <div class="stats">
          
      </div>
      
      
      <br style="clear:both;"/>
          
      </div>

  </body>
</html>