{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
   
   <!----> <link rel = "stylesheet" type = "text/css" href = '{% static "/eugo/css/bootstrap.css" %}'/>
    
    <link rel="icon" href='{%static "/eugo/img/favicon.ico"%}'>

    <title>EUGO</title>

    <!-- Custom styles for this template -->
    <link href='{% static "/eugo/css/cover_cover.css" %}' rel="stylesheet">
  </head>

  <body>
    
    <div style="margin-top: 10%;">
    <div class="full-width-bar">
      <h1>EUGO</h1>
  </div>
  
  <div>
      <div class="cov-head">
          <h2 class="secondHeader">Login</h2>
          <hr>
          <br>
      </div>
      
      <script>
          function validateForm() {
            let username = document.forms['myForm']['username'].value;
            let password1 = document.forms['myForm']['password'].value;
            /*onsubmit="return validateForm()"*/
          }

      </script>
  
      <form name="myForm" class="form" method="POST" action="." >    <!--idk how to do the method post for django   method="post"-->
        {% csrf_token %}
        <div class="form-group">
          <label>
              <input class="form-control" type="text" id="username" name="username" placeholder="Username" size="50" required autocomplete="off">
          </label>
        </div>
        <div class="form-group">
          <label>
              <input class="form-control" type="password" name="password" placeholder="Password" size="50" required>
          </label>
        </div>
        <div class="form-group">
          <label>
              <input type="submit" value="Login" class="btn btn-primary" size="25">
              <input type="reset" value="Cancel" class="btn btn-secondary" size="25">
          </label>
        </div>
      </form>
      <form class="form" action="/eugo/register"> 
          <label >
              <input type="submit" class="btn btn-primary" value="Register" id="button1" size="50">
          </label>
      </form>
      <br>
    </div>
  </body>
</html>
