{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
   
   <!----> <link rel = "stylesheet" type = "text/css" href = '{% static "/eugo/css/bootstrap.css" %}'/>
    
    <link rel="icon" href='{%static "/eugo/img/favicon.ico"%}'>

    <title>EUGO</title>

    <!-- Custom styles for this template -->
    <link href='{% static "/eugo/css/map.css" %}' rel="stylesheet"> 
  </head>

  <body class="text-center" id ="parent-container">

    <div class="text-center parent-container-map">
        <div class="map">
            <img src='{% static "/eugo/img/exe_map_alpha.png" %}' class="map-img">
        </div>

        <div class="side-panel">
            <ul class = "side-panel-list list-unstyled ">
                <li><a href="/eugo/player"> Player </a></li>
                <li><a href="/eugo/lecturers"> Lecturers </a></li>
                <li><a href="/eugo/lecturerdex"> LecturerDex </a></li>
                <li><a href=""> Logout </a></li>
            </ul>
        </div>

    </div>

  </body>
</html>
