{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
   
    <title>EUGO</title>
    
    <!--bootstrap CSS-->
    <link rel = "stylesheet" type = "text/css" href = '{% static "/eugo/css/bootstrap.css" %}'/>
    
    <link rel="icon" href='{%static "/eugo/img/favicon.ico"%}'>

    <!-- Custom styles for this template -->
    <link href='{% static "/eugo/css/map.css" %}' rel="stylesheet"> 

    <!--webcam JS script-->

  </head>

  <body>

    <div class="text-center parent-container-map" id="parent-container-map-id">
        
        <div class="map" id="mapConID">
            <img src='{% static "/eugo/img/exe_map_alpha.png" %}' class="map-img">
        </div>

        {% for i in lec %}
        <div class="lec-map-pin" style="position: absolute; z-index: 4; font-size: 10px;
        font-weight: bold; list-style-type: none;" id={{i.id}} value={{i.pos}}>
            <li>{{ i.name }}</li>
            <li>{{ i.duration }} Mins Remaining</li>
            <li>{{ i.pos }}</li>
            <li><img src='{% static "/eugo/img/teacher_sprites/"%}{{i.sprite}}' class="spirite-img"></li>
            <li><button type="button" onclick="showCam()">Confirm QR Code</button></li>
        </div>
        {% endfor %}

        <div class="side-panel">
          <ul class = "side-panel-list list-unstyled ">
              <li><a href="/eugo/player"> Player </a></li>
              <li><a href="/eugo/lecturers"> Lecturers </a></li>
              <li><a href="/eugo/lecturerdex"> LecturerDex </a></li>
              <li><a href=""> Logout </a></li>
          </ul>
        </div>

        <div id="cam-div">
            <video autoplay="true" id="videoElement">
            </video>
            <button type="button" class="cam-button" id="cam-button-cancel" 
                onclick="hideCam()">Cancel</button>
            <button type="button" class="cam-button" id="cam-button-submit">Submit</button>
        </div>

    </div>

    <script>
        window.onload = function(){
            mapContainer= document.getElementById("mapConID");
            var xOff = getOffset(mapContainer).left;
            var yOff = getOffset(mapContainer).top;
            pinL = document.getElementsByClassName("lec-map-pin")

            for (let i = 0; i < pinL.length; i++) {
                pin = pinL[i];
                var x = parseInt(pin.getAttribute("value").split(",")[0])
                var y = parseInt(pin.getAttribute("value").split(",")[1])
                pin.style.left = x + xOff+ "px";
                pin.style.top = y + yOff+ "px";
                console.log(x, y);
                var gifsrc = '{% static "/eugo/img/circle.gif" %}'
                pin.style.backgroundImage = "url("+ gifsrc +")";
                pin.style.backgroundSize = "contain";
                pin.style.backgroundRepeat = "no-repeat";
                
                /*
                var xImg = new Image();
                xImg.src = '{% static "/eugo/img/x_alpha.png" %}'
                xImg.style.left = x - xOff + "px";
                xImg.style.top = y - yOff+ "px";
                xImg.style.width = "20px";
                xImg.style.height = "20px";
                xImg.style.position = "relative";
                xImg.style.zIndex = "4";
                
                document.getElementById('parent-container-map-id').appendChild(xImg);
                */
                //resetBox();
            } 
        }

        function getOffset(el) {
            const rect = el.getBoundingClientRect();
            return {
                left: rect.left + window.scrollX,
                top: rect.top + window.scrollY
            };
        }

        function showLecSpawn(choice){
            document.getElementById("lecSpawnLi").style.color = "white";
            document.getElementById("lecBattleLi").style.color = "white";
            menu = document.getElementById("lecSpawn");
            menu.style.width = "100%";	
            menu.style.height = "100%";
            menu.style.visibility = "visible";
            li = document.getElementById(choice);
            li.style.color = "red";
            document.getElementById("gameOpBox").value = choice;
        }

        function showCam(){
            camDiv = document.getElementById("cam-div");
            camDiv.style.width = "500px"
            camDiv.style.height = "375px"
            camCam = document.getElementById("videoElement");
            camCam.style.width = "500px"
            camCam.style.height = "375px"
            camBut = document.getElementById("cam-button-cancel");
            camBut.style.width = "20%"
            camBut.style.height = "10%"
            camBut.style.visibility = "visible"
            camBut = document.getElementById("cam-button-submit");
            camBut.style.width = "20%"
            camBut.style.height = "10%"
            camBut.style.visibility = "visible"
        }

        function hideCam(){
            camDiv = document.getElementById("cam-div");
            camDiv.style.width = "0"
            camDiv.style.height = "0"
            camCam = document.getElementById("videoElement");
            camCam.style.width = "0"
            camCam.style.height = "0"
            camBut = document.getElementById("cam-button-cancel");
            camBut.style.width = "0%"
            camBut.style.height = "0%"
            camBut.style.visibility = "hidden"
            camBut = document.getElementById("cam-button-submit");
            camBut.style.width = "0%"
            camBut.style.height = "0%"
            camBut.style.visibility = "hidden"
        }

        var video = document.querySelector("#videoElement");
        if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
            video.srcObject = stream;
            })
            .catch(function (err0r) {
            console.log("Something went wrong!");
            });
        }

    </script>

  </body>
</html>

