{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
   
   <!----> <link rel = "stylesheet" type = "text/css" href = '{% static "/eugo/css/bootstrap.css" %}'/>
    
    <link rel="icon" href='{%static "/eugo/img/favicon.ico"%}'>

    <title>EUGO</title>

    <!-- Custom styles for this template -->
    <link href='{% static "/eugo/css/map.css" %}' rel="stylesheet"> 
  </head>

  <body>

    <div class="text-center parent-container-map" >
        <div class="map" id="mapConID">
            <img src='{% static "/eugo/img/exe_map_alpha.png" %}' class="map-img" onclick="showEventSelect()">
        </div>

        <div class="event-select-panel" id="panel-id">
            <ul class = "event-select-panel-ul">
                <li onclick="showLecSpawn('lecSpawnLi')" id="lecSpawnLi">Wild Lecturer Spawn</li>
                <li onclick="showLecSpawn('lecBattleLi')" id="lecBattleLi">Lecturer Battle</li>
                <form class="spawn-lecturer-menu" id="lecSpawn">
                    <input type="number" name="duration" placeholder="Duration (mins)">
                    <input type="text" name="name" placeholder="Lecturer Name">
                    <input type="number" name="hp" placeholder="Lecturer Hp">
                    <input type="number" name="attack" placeholder="Lecturer Attack">
                    <select name="type" placeholder="Lecturer Type">
                        <option value="english">English</option>
                        <option value="maths">Maths</option>
                        <option value="science">Science</option>
                    </select>
                    <div class="image mt-3 mb-3 img-container" id="sliderImages">
                        <img src='{% static "/eugo/img/teacher_sprites/teacher_1.png" %}' class="spirite-img">
                        <img src='{% static "/eugo/img/teacher_sprites/teacher_2.png" %}' class="spirite-img">
                        <img src='{% static "/eugo/img/teacher_sprites/teacher_3.png" %}' class="spirite-img">
                    </div>
                    
                    <input class="rangeslider" type="range" id="sprite" name="teach_sprite"
                    min="1" max="3" value="1">
                    <input type="hidden" value="0,0" id="coordsBox">
                    <input type="hidden" value="" id="gameOpBox">
                    <input type="submit" class="form-submit" value="Confirm" onclick="confirmForm()">
                </form>
            </ul>
            <!--<img src='{% static "/eugo/img/qr_alpha.png" %}' class="qr-img">-->
        </div>


        <!--
        <div class="side-panel">
            <ul class = "side-panel-list list-unstyled ">
                <li><a href="/eugo/player"> Player </a></li>
                <li><a href="/eugo/lecturers"> Lecturers </a></li>
                <li><a href="/eugo/lecturerdex"> LecturerDex </a></li>
                <li><a href=""> Logout </a></li>
            </ul>
        </div>
        -->

    </div>

    <script>
        function showEventSelect(){
            panel = document.getElementById("panel-id");
            var x = event.clientX;
            var y = event.clientY;
            panel.style.left = x + "px";
            panel.style.top = y + "px";
            resetBox();
            mapContainer= document.getElementById("mapConID");
            var xOff = getOffset(mapContainer).left;
            var yOff = getOffset(mapContainer).top;
            document.getElementById("coordsBox").value = (x - xOff) + "," + (y - yOff);
            panel.style.visibility = "visible";	
        }

        function getOffset(el) {
            const rect = el.getBoundingClientRect();
            return {
                left: rect.left + window.scrollX,
                top: rect.top + window.scrollY
            };
        }

        function resetBox(){
            document.getElementById("lecSpawnLi").style.color = "white";
            document.getElementById("lecBattleLi").style.color = "white";
            menu = document.getElementById("lecSpawn");
            menu.style.width = "0";	
            menu.style.height = "0";
            menu.style.visibility = "hidden";
        }

        function showLecSpawn(choice){
            document.getElementById("lecSpawnLi").style.color = "white";
            document.getElementById("lecBattleLi").style.color = "white";
            menu = document.getElementById("lecSpawn");
            menu.style.width = "100%";	
            menu.style.height = "100%";
            menu.style.visibility = "visible";
            li = document.getElementById(choice);
            li.style.color = "red";
            document.getElementById("gameOpBox").value = choice;
        }

        window.addEventListener('load', function() {
            var rangeslider = document.getElementById("sprite");

            var images = document.getElementById("sliderImages");

            rangeslider.addEventListener('input', function() {
            for (var i = 0; i < images.children.length; i++) {
                images.children[i].style.display = 'none';
            }
            i = Number(this.value) - 1;
            images.children[i].style.display = 'block';
            });
        });

        function confirmForm(){

        }

    </script>

  </body>
</html>
