{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
   
   <!----> <link rel = "stylesheet" type = "text/css" href = '{% static "/eugo/css/bootstrap.css" %}'/>
    
    <link rel="icon" href='{%static "/eugo/img/favicon.ico"%}'>

    <title>EUGO</title>

    <!-- Custom styles for this template -->
    <link href='{% static "/eugo/css/player.css" %}' rel="stylesheet">
  </head>

  <body>
    <div class="full-width-bar">
      <h1>EUGO</h1>
    </div>

    <div class="whole-page">
      <h2 class="username">{{username}}</h2>

      <hr>
      <br>
    </div>

    <div class="side-panel">
      <ul class="side-panel-list list-unstyled">
        <li><a href="/eugo/map"> Map </a></li>
        <li><a href="/eugo/lecturers"> Lecturers </a></li>
        <li><a href="/eugo/lecturerdex"> LecturerDex </a>
        <li><a href="/eugo/logout"> Logout </a></li>
      </ul>
    </div>

    
  </body>
</html>