{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
   
   <!----> <link rel = "stylesheet" type = "text/css" href = '{% static "/eugo/css/bootstrap.css" %}'/>
    
    <link rel="icon" href='{%static "/eugo/img/favicon.ico"%}'>

    <title>EUGO</title>

    <!-- Custom styles for this template -->
    <link href='{% static "/eugo/css/cover_cover.css" %}' rel="stylesheet">
  </head>

  <body>
    <div class="full-width-bar">
      <h1>EUGO</h1>
  </div>


	<div>

		<div>
			<h2 class="secondHeader">Register</h2>

			<hr>
			<br>
		</div>
		<!-- Use java script to check validation-->

		<form class="form" method="POST" action="." >    <!--action to the php ./homePage.html -->
			{% csrf_token %} <!--Prevents csrf attacks -->
			
			<label>
				<input type="text" name="firstname" placeholder="Name" size="50" required>
			</label>
			<br>
			<label>
				<input type="text" name="surname" placeholder="Surname" size="50">
			</label>
			<br>
			<label>
				<input type="text"  name="username" placeholder="Username" size="50" required>
			</label>
			<br>
			<label>
				<input type="password" name="password1" placeholder="Password" size="50" minlength="8" required>
			</label>
			<br>
			<label>
				<input type="password" name="password2" placeholder="Re-enter Password" size="50" minlength="8" required>
			</label>
			<br>
			<label>
				<input type="submit" value="Register" size="25">
			</label>
			<br>
			
		</form>
		
		<a href="/eugo/login"> 
			<button>
				Return to Login
			</button> </a>
		
		<!--
		<form action="./login.php" class="form">
			<label>
				<input type="submit" value="Return" size="25">
			</label>
		</form>
		<br>
		-->
		</body>
</html>